.Login {
  display: grid;
  place-items: center;
  color: white;
  background:url("../../assets/Gold.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
}

.Login-card{
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.Login-Form {
  width: 50vh;
  margin: 20px;
}

@media (max-width:600px) {
  
  .Login {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .Login-card{
    margin-top: 0;
    scale: 0.8;
  }
  .Login-Form {
    margin: 0;
    padding: 20px;
  }
}