.Sell {
  display: grid;
  place-items: center;
  background: rgb(227, 198, 91);
  background: linear-gradient(
    270deg,
    rgba(227, 198, 91, 1) 0%,
    rgba(236, 215, 135, 1) 20%,
    rgba(227, 198, 91, 1) 50%,
    rgba(236, 215, 135, 1) 80%,
    rgba(227, 198, 91, 1) 100%
  );
  color: white;
  padding: 20px;

  .upper {
    margin-bottom: 2.5vh;
  }

  span {
    background-color: #fff782;
    width: 55px;
    height: 5px;
    display: block;
    margin: 1px auto;
  }
}
.all {
  display: flex;
  gap: 20px;
}

option {
  color: black;
}
@media (max-width: 600px) {
  .Sell {
    height: auto;
  }

  .all {
    display: block;
  }
}
