.Sell {
  background: rgb(227,198,91);
  background: linear-gradient(270deg, rgba(227,198,91,1) 0%, rgba(236,215,135,1) 20%, rgba(227,198,91,1) 50%, rgba(236,215,135,1) 80%, rgba(227,198,91,1) 100%);
  background-color: #0a3915;
  color: #000;
  height: 92.7vh;
  padding: 20px;
}

.all {
  display: flex;
  gap: 20px;
}

option {
  color: black;
}
@media (max-width:600px) {
  .Sell{
    height: auto;
  }

  .all{
    display: block;
  }
}