.Exchange {
  background: rgb(227,198,91);
background: linear-gradient(270deg, rgba(227,198,91,1) 0%, rgba(236,215,135,1) 20%, rgba(227,198,91,1) 50%, rgba(236,215,135,1) 80%, rgba(227,198,91,1) 100%);
  color: #000;
  padding: 20px;
  height: 92.7vh;
}

.dofus-logos {
  display: flex;
  justify-content: center;
}

.note {
  display: flex;
  align-items: center;
}
.note svg {
  margin-right: 10px;
}

@media (max-width:600px) {
  .img-e{
    width: 33%;
  }
  .Exchange {

    height: auto;
  }


}