.Exchange {
  background-color: #0a3915;
  color: white;
  padding: 20px;
}

.dofus-logos {
  display: flex;
  justify-content: center;
}

.note {
  display: flex;
  align-items: center;
}
.note svg {
  margin-right: 10px;
}
