.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background:url("../../assets/Gold.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
}

.Signup-Form {
  width: 60vh;
  padding: 20px;
  text-align: center;
}
.Signup-Form2 {
  margin-top: 15px;
}

.help {
  margin: 10px 0px 0px 20px;
  text-align: center;
}
.Sign-card{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

@media (max-width:600px) {

    .Sign-card{
      scale: 0.92;
    }

}